<div class="row">
  <div class="col-md-6">
    <h3>8월 4일</h3>
    <table class="table table-striped">
      <tr> <td>13:00-14:00</td>  <td>워크샵 등록</td> </tr>
      <tr> <td>14:00-15:45</td>  <td>워크샵 part 1</td> </tr>
      <tr> <td>15:45-16:00</td>  <td>Coffee Break</td> </tr>
      <tr> <td>16:00-18:00</td>  <td>워크샵 part 2</td> </tr>
      <tr> <td>18:00</td>  <td>행사 종료</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>8월 5일</h3>
    <table class="table table-striped">
      <tr> <td>8:00-9:00</td>  <td>조식</td> </tr>
      <tr> <td>9:00-10:30</td>  <td>워크샵 part 3</td> </tr>
      <tr> <td>10:30-10:45</td>  <td>Coffee Break</td> </tr>
      <tr> <td>10:45-12:00</td>  <td>워크샵 part 4</td> </tr>
      <tr> <td>12:00</td>  <td>행사 종료</td> </tr>
    </table>
  </div>
</div>
